@using ETrade.Client
@using Microsoft.Extensions.Caching.Memory;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETrade.UI</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/template/nivo-themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/template/styles/nivo-slider.css" type="text/css" media="screen" />
    <link href="~/template/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/template/fancybox/jquery.fancybox-1.3.4.css" media="screen" />


    <!-- Common JavascriptScript Code  -->
    <script type="text/javascript" src="~/template/js/jquery/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="~/template/js/jquery/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="~/template/js/jquery/superfish.js"></script>
    <script src="~/template/js/jquery/cufon-yui.js" type="text/javascript"></script>
    <script src="~/template/js/jquery/Kartika_400.font.js" type="text/javascript"></script>
    <script src="~/template/js/jquery/jquery-ui-1.8.16.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/template/js/jquery/jquery.ui.mouse.min.js"></script>


    <!-- Index Code  -->
    <script type="text/javascript" src="~/template/js/jquery/jquery.nivo.slider.pack.js"></script>

    <style>
        .cool-button {
            background-color: #2ecc71;
            padding: 20px;
            font-size: 12px;
            color: white;
            font-family: "Verdana";
            border: none;
            border-radius: 10px;
            border-bottom: 5px solid #27ae60;
            -webkit-transition: background-color 0.1s;
        }

            .cool-button:hover {
                background-color: #51D88C;
            }

            .cool-button:focus {
                outline: none;
            }

            .cool-button:active {
                background-color: #01CD5A;
            }
    </style>

</head>
<body>
    <div id="header">

        <!-- BEGIN  logo and slogan -->

        <br />
        <br />
        <br />
        <br />




        @if (Settings.cache.Get("UserName") == null)
        {
            <div class="mainbar">
                <div class="mainbar_content">
                    <img class="loginlogo_s" src="~/template/styles/Images/loginlogo_s.png" alt="loginlogo" />
                    <div class="login"><a href="login">Kaydol veya Giriş Yap</a></div>
                </div>
            </div>
        }
        else
        {
            <div class="mainbar">
                <div class="mainbar_content">
                    @if (Settings.cache.Get("UserType").ToString() == "2")
                    {
                        <button class="cool-button">@Settings.cache.Get("UserName")</button>
                        <a href="/" id="SignOut" onclick="SignOnut()" class="btn-danger">Çıkıp Yap</a>
                        <a href="basket" id="basket" class="btn-outline-secondary">Sepetim</a>

                    }
                    else
                    {
                        <button class="cool-button">@Settings.cache.Get("UserName")</button>
                        <button class="cool-button" onclick="location.href='add-product'">Ürün Ekle</button>
                        <a href="/" id="SignOut" onclick="SignOnut()" class="btn-danger">Çıkıp Yap</a>
                        <a href="basket" id="basket" class="btn-outline-secondary">Sepetim</a>
                    }

                </div>
            </div>

        }

        <!-- END  .header -->

        <div class="menu_block">
              
            <!-- BEGIN categories menu -->
            <div class="hc" id="cat_menu_button"><a href="#">Kategoriler</a></div>


            <ul id="category_menu">

                <li><a href="category-page.html"><span><span>Korku</span></span></a></li>
                <li><a href="category-page.html"><span><span>Macera</span></span></a></li>
                <li><a href="category-page.html"><span><span>Gizem</span></span></a></li>
                <li><a href="category-page.html"><span><span>Bilim-Kurgu</span></span></a></li>
            </ul>

            <!-- END categories menu -->
            <!--END newletter form -->
            <!-- END left side menus -->
        </div>



    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div id="footer">


        <div style="clear:both;"></div>
        <div class="horizontal_bar" style="margin:0; padding:14px 0 1px 0;"></div>

        <!-- BEGIN  copyright  -->
        <div class="copyright" style=" position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding:15px;
    background-color: #000;">© 2011 <b>Basico</b> - Premium HTML E-commerce Theme</div>



        <!-- END  #footer -->
    </div>


    <script src="~/js/Util/Ajax.js"></script>

    <script>
        $("#SignOut").click(function () {
            var id = $(this).attr('data-id');

            var data = {
                "SignOut": true,
            };

            Util.Ajax.Generic("exit", data, "POST", "json", false, null, success, null, null);


            function success(status) {
                if (status.operation == "Success") {
                    window.location.href = "anasayfa";
                } else if (status.operation == "Wrong") {
                    // $("#span").append("Hatalı Giriş");
                }
            }

        });
    </script>
</body>
</html>
