@{
    ViewData["Title"] = "Home Page";
}

<!-- BEGIN #central_content -->

<div id="central_content">

    <!-- BEGIN central slogan and rss feed -->
    <div class="rss">
        Stay tuned with our<a href="#">Feed RSS</a>
        <div id="rss_logo"></div>
    </div>
    <div class="question1 ha">What's</div>
    <div class="question2 ha">New</div>
    <div class="question1 ha">Here?</div>
    <div style="clear:both;"></div>
    <div class="slogan">Here you can insert your <b>web store slogan</b> of lapsum hirem</div>
    <br />
    <br />
    <!-- END central slogan and rss feed -->
    <!-- BEGIN central products -->

    <div class="central_products">

        <!-- BEGIN product1 -->
        <div class="item">
            <div class="item_up">
                <a href="product-page.html" class="ptitle2 product_title1">Lorem</a>
                <div class="ptitle2 product_title2">#100</div>
                <a href="~/template/styles/Images/Product_photos/Image-zoom.jpg" class="simple_image" title=""> <span style="display: none;" class="zoom"><img src="styles/Images/ico-zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span> <img src="~/template/styles/Images/Product_photos/object1.jpg" alt="Image 1" title="" /></a>
                <div class="product_text">
                    Lorem ipsum dolor honorem pour la te
                    atom lor ...
                </div>
                <div class="price">$54.00</div>
            </div>
            <div class="add"><a href="cart-page.html"><img src="~/template/styles/Images/add_icon.png" alt="add icon" />ADD TO CART</a></div>
            <div class="details"><a href="product-page.html">DETAILS</a></div>

            <!-- END product1 -->
        </div>
         
 
        <!-- sale icon -->
        <div class="sale"></div>

        <!-- END central products -->
    </div>

    
    <!-- END #central_content-->
</div>
